@font-face {
  font-family: "League Gothic";
  src: url("../fonts/league-gothic/league_gothic.otf") format("opentype");
}

body {
  margin: 0;
  padding: 10px;
  border: 0;
}

a img {
  border: 0;
}

.main-logo {
  display: block;
  vertical-align: middle;
  font-size: 28px;
  line-height: 32px;
  padding-bottom: 10px;
}

.main-logo a {
  background: url('../images/sprites/globalSprite-1x.png') no-repeat -7px -7px;
  width: 100px;
  height: 31px;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  text-align: left;
  direction: ltr;
}

.clearfix {
  clear:both;
}

#widget {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  font-family: "League Gothic", Impact, "Arial Narrow", sans-serif;
  margin-bottom: 15px;
  text-align: center;
  margin: 0px auto;
  max-width: 750px;
}

#widget p.desc {
  margin-bottom: 0px;
  font-size: 14px; 
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: left;
  text-transform: none;
}

#init-error p {
  text-transform: none;
  font-size: 24px;
  margin: 20px 0px;
  text-align: justify;
}

#init-error #reload {
  text-align: center;
}

#warning-environment {
  color: orange;
  margin: 5px;
}

#warning-plugin, #warning-websocket, .red {
  color: red;
  margin: 5px;
}

#copyTarget {
 width: 40%;
}

#start-button {
  padding-top: 0px; 
}

#start-button p.title, #copy-code p.title {
  margin: 0px 10px 10px;
  text-transform: capitalize;
}

#embed-button {
  padding-top: 30px;
  font-size: 18px;
}

#copy-code {
  display: none;
  padding: 20px 0px;
  background-color: #F2F2F2;
}

#copy-code label {
  text-transform: none;
  display: block;
  font-size: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 5px;
}

#copy-code textarea {
  width: 65%;
}

#copy-code .copy.button {
  vertical-align: top;
  font-size: 36px;
  font-family: "League Gothic", Impact, "Arial Narrow", sans-serif;
  text-transform: uppercase;
}

#copy-code #copy-msg {
  font-size: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  text-transform: none;
  color: #e35343;
  margin: 0px 10px;
}

.page {
  position: relative;
  background-color: #fff;
  color: #000;
}

#welcome {
  text-align: center;
}

#test, #results, #welcome, #init-error {
  display: none;
  padding: 0px 0px 10px 0px;
}

#test {
  background-color: #fff;
}

h1, h2, h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h2 em {
  font-style: normal;
  color: #ccc;
}

h2.centered {
  text-align:center;
}

h3 {
  font-size: 36px;
}

.button {
  padding: 3px 20px;
  border: 4px solid #ccc;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #4d4d4d;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #000;
}

.controls .button {
  -moz-box-shadow: 0 3px 5px #000;
}

.backendButton {
  width: 200px;
  height: 50px;
  font-size: 24px;
  margin: 10px; 
}

.active {
  background-color: black;
}

.backendButton:disabled {
  background-color: gray;
  cursor: default;
}

.page .status,
.page .controls {
  position: relative;
  text-align: center;
}

body.initializing .page .controls,
body.ready .page .status {
  display: none;
}

body.ready .page .controls,
body.initializing .page .status {
  display: block;
}

#welcome .info {
  padding-top: 10px;
  text-transform: none;
  font: 13px/18px verdana, helvetica, arial, sans-serif;
}

#welcome .info .logo {
  margin-bottom: 30px;
}

#welcome .info p {
  margin-bottom: 20px;
}

#welcome .info a {
  color: white;
  font-weight: bold;
}

#test .locations {
  font-size: 32px;
  line-height: 32px;
}

#test .location {
  top: 0;
}

#test .location.local {
  text-align: right;
}

#test .location.remote {
  text-align: center;
}

#test .location .address {
  margin-top: 10px;
  color: black;
  font: bold 13px/13px verdana, helvetica, arial, sans-serif;
}

.gauge-container {
  width:100%;
  text-align:center;
  margin-top:20px;
}
#uploadGauge, #downloadGauge {
  width: 45%;
}

#rttValue {
  position: relative;
  text-align: center;   
  left: -30px;
  width: 100px;
  color: black;
}

#result-pages {
  text-align: center;
  width: 100%;
}

#result-pages .result-page {
  display: none;
}

#results.summary #result-pages .result-page.summary {
  display: table;
  border-spacing: 10px 0px;
  border-collapse: collapse;
  position: relative;
  margin: 20px 0px;
  width: 99%;
}

#results.details #result-pages .result-page.details,
#results.advanced #result-pages .result-page.advanced {
  display: block;
  text-align: left;
  position: relative;
  margin: 20px 0px;
  width: 100%;
}

#result-pages .details, #result-pages .advanced {
  overflow: auto; 
  text-transform: none;
  font: 13px/18px verdana, arial, helvetica, sans-serif;
}

#result-pages .advanced {
  white-space: pre;
}

#results .result {
  border: 1px solid #ccc;
  width: 50%;
  padding: 10px;
  display: table-cell;
}

#results .title-container {
  float:left;
  text-align:left;
}

#results .result p {
  margin: 0px;
}

#results .result .number {
  font-size: 100px;
  line-height: 128px;
}

#results .result .units {
  font-size: 48px;
  text-transform: none;
}

#results .result h3 {
  padding-top: 15px;
}

#results .other {
  text-transform: none;
  font: 13px/18px verdana, arial, helvetica, sans-serif;
  text-align: left;
  display: table-caption;
  caption-side: bottom;
}

#results .controls {
  text-align: right;
}

#results .branding {
  text-transform: none;
  font: 11px/16px verdana, arial, helvetica, sans-serif;
}

#results .branding a {
  color: black;
}

#results .view-selector-container {
  float:right;
  text-align:right;
}

#results .view-selector {
  font-size: 18px;
  padding-top: 15px;
}

#results .view-selector .summary {
  border-width: 2px 1px 2px 2px;
  padding-right: 15px;
  -moz-border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
}

#results .view-selector .details {
  border-width: 2px 1px;
  padding-left: 15px;
  padding-right: 15px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#results .view-selector .advanced {
  border-width: 2px 2px 2px 1px;
  padding-left: 15px;
  -moz-border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
}

#results.summary .view-selector .summary,
#results.details .view-selector .details,
#results.advanced .view-selector .advanced {
  background-color: #000;
}

@media screen and (max-width: 625px) {
  #results .upload, #results .download {
    float: none;
  }
}

@media screen and (max-width: 580px) {
  #results .view-selector-container, #results .title-container {
    float: none;
    text-align: left;
  }

  .upload .result h3 {
    font-size: 28px;
  }

  #results .result .number {
    font-size: 52px;
    line-height: 85px;
  }

  #results .result .units {
    font-size: 36px;
  }

  #results .controls {
    text-align: left;
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  #upload h2, #download h2, #results .title-container h2 {
    font-size: 44px;
  }

  #embed-button {
    padding-top: 0px;
  }

  #copy-code p.title {
    font-size: 30px;
  }
}

@media screen and (max-width: 460px) {
  #results .upload.result h3 {
    margin: 0px 18px;
  }
}

@media screen and (max-width: 350px) {
  .page {
    margin: 10px;
  }
  #results .result .number {
    font-size: 44px;
    line-height: 75px;
  }
  #results .result .units {
    font-size: 26px;
  }
}
