Gemfile.lock
test/dest
*.gem
pkg/
*.swp
*~
_site/
.bundle/
.DS_Store
bbin/
gh-pages/
site/_site/
coverage
.ruby-version
.sass-cache
_config-deploy.yml
_config-deploy.ymle
js/app.js
.vagrant
ubuntu-xenial-16.04-cloudimg-console.log
.jekyll-metadata
.firebase/
.firebaserc
firebase.json

