[submodule "mlab_observatory"]
	path = mlab_observatory
	url = https://github.com/m-lab/mlab-observatory.git
[submodule "ndt"]
	path = ndt
	url = https://github.com/m-lab/ndt
[submodule "travis"]
	path = travis
	url = git@github.com:m-lab/travis.git
