dist: focal
language: ruby
rvm:
  - 3.1

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
    - NODE_VERSION=v14

before_install:
  - gem install bundler:2.3.9

script:
  - set -e
  - "$TRAVIS_BUILD_DIR/travis/install_gcloud.sh"
  - sudo apt-get install -y python3-pip jupyter jupyter-nbconvert
  - sudo -H python3 -m pip install --upgrade setuptools pip
  - nvm install $NODE_VERSION
  - npm install -g firebase-tools@11.30.0
  - "./_tests/travis-checks --quick"

deploy:
  # Separate deployments to various places based on branch and push type
  ## - sandbox
  - provider: script
    skip_cleanup: true
    script:
      "$TRAVIS_BUILD_DIR/travis/activate_service_account.sh SERVICE_ACCOUNT_mlab_sandbox
      && gsutil -m cp -r $TRAVIS_BUILD_DIR/_site/* gs://website.mlab-sandbox.measurementlab.net/"
    on:
      repo: m-lab/website
      all_branches: true
      condition: "$TRAVIS_BRANCH == sandbox-* && $TRAVIS_EVENT_TYPE == push"

  ## - staging
  - provider: script
    skip_cleanup: true
    script:
      "$TRAVIS_BUILD_DIR/travis/activate_service_account.sh SERVICE_ACCOUNT_mlab_staging
      && gsutil -m cp -r $TRAVIS_BUILD_DIR/_site/* gs://website.mlab-staging.measurementlab.net/"
    on:
      repo: m-lab/website
      all_branches: true
      condition: "$TRAVIS_BRANCH == main && $TRAVIS_EVENT_TYPE == push"

  ## - production
  - provider: script
    skip_cleanup: true
    script: "$TRAVIS_BUILD_DIR/firebase-deploy.sh"
    on:
      repo: m-lab/website
      tags: true
