{% assign header = site.data.header-footer-content.header %}

<div class="subpage-content col-xs-12 {{ last_crumb | downcase }}-page">
{% assign crumbs = page.date | date: "%Y-%m-%d" | split: "-" %}
<nav class="breadcrumbs">
   <ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
      {% for crumb in crumbs %} 
         {% if forloop.first and site.breadcrumbs.root.image %}
         <li class="breadcrumb-item breadcrumb-item-icon" property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="{{ crumb.url | relative_url }}">
               <span class="icon" property="name">{% include nav-breadcrumb-icon.svg %}</span>
               <meta property="position" content="{{ crumb.position }}" />
            </a>
         </li>
         {% continue %} 
      {% endif %} 
      {% if forloop.last %}
      <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
         <span property="name">{{ crumb }}</span>
         <meta property="position" content="{{ crumb.position }}" />
      </li>
      {% continue %} {% endif %}
      <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
         <a property="item" typeof="WebPage" href="{{ site.baseurl }}/blog/{{ crumbs[0] }}/{{ crumbs[1] }}">
            <span property="name">{{ crumb }}</span>
            <meta property="position" content="{{ crumb.position }}" />
         </a>
      </li>
      {% endfor %}
      <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
         <a property="item" typeof="WebPage" href="{{ relative_url }}">
            <span property="name">{{ page.title }}</span>
            <meta property="position" content="{{ crumb.position }}" />
         </a>
      </li>
   </ol>
</nav>
