{% comment %} 
<!--
  Breadcrumbs Feature

  This partial can be included in any markdown file that needs accordion behavior.
  Currently, this include has been referenced in the page, blog, blog-index, and blog-archive
  layouts, but can be included in future and other layouts if deemed necessary.

  If included for other pages/layouts, then it would be best to have breadcrumb and title 
  in the page's frontmatter to display as the breadcrumbs.

--> 
{% endcomment %}

{% assign header = site.data.header-footer-content.header %}

{% comment %}<!-- Determine breadcrumb hierarchy for sub navs -->{% endcomment %}
{% assign active_link = page.breadcrumb | append: "/" | prepend: "/" %}
{% assign last_crumb = page.title %}

{% if active_link == page.url %}
	{% for cat in header.category %}
    {% if cat.title == page.breadcrumb %}
    	{% for link in cat.sub-nav %}
    		{% if link.url == page.url %}
    			{% assign last_crumb = link.text %}
    		{% endif %}
    	{% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="subpage-content full-width {{ last_crumb | downcase }}-page">
<nav class="breadcrumbs">
  <a href="/" class="breadcrumb">Home</a> /
  
  {% if page.breadcrumb %}
  <a href="{{ site.baseurl }}/{{ page.breadcrumb }}/" class="breadcrumb">{{ page.breadcrumb | capitalize }}</a> /
  {% endif %}

  <a href="{{ page.url | prepend: site.baseurl }}" class="breadcrumb">{{ last_crumb }}</a>
</nav>