{% comment %}
<!--
  Footer

  This partial is included on every page except the observatory page to consistently
  display the same footer on each page.

-->
{% endcomment %}

{% assign footer = site.data.header-footer-content.footer %}

<footer class="footer-section">
  <span class="footer-shadow"></span>

  <div class="container">
    <div class="row">

        <!-- Footer - Social Media -->
        <div class="col-xs-7 col-sm-5 col-md-4">
          <h2>{{ footer.subscribe.title }}</h2>
          <nav>
            <ul class="callout-ctn social-ctn">

    			  {% for item in footer.subscribe.items %}
              <li><a href="{% if item.link | slice: 0 = "/" %}{{ item.link | prepend: site.baseurl }}{% else %}{{ item.link }}{% endif %}" class="btn-social {{ item.link-class }}" target="_blank">{{ item.link-title }}</a>
              </li>
    			  {% endfor %}

            </ul>
          </nav>
          <div class="footer-tag">Measurement Lab is a fiscally sponsored project of <a href="https://codeforsociety.org">Code for Science & Society (CS&S)</a></div>
        </div>
      <!-- Footer - Navigational Links -->
        <div class="col-sm-6 col-md-6 pull-left">
          <ul class="footer-links">

    			  {% for item in footer.other-links.column-one.items %}
              <li><a href="{{ item.link | prepend: site.baseurl }}">{{ item.link-title }}</a>
              </li>
    			  {% endfor %}

          </ul>
          <ul class="footer-links">

    			  {% for item in footer.other-links.column-two.items %}
              <li><a href="{{ item.link | prepend: site.baseurl }}">{{ item.link-title }}</a>
              </li>
    			  {% endfor %}

          </ul>
          <ul class="footer-links">

            {% for item in footer.other-links.column-three.items %}
              <li><a href="{{ item.link | prepend: site.baseurl }}">{{ item.link-title }}</a>
              </li>
            {% endfor %}

          </ul>
          <ul class="footer-links">

            {% for item in footer.other-links.column-four.items %}
              <li><a href="{{ item.link | prepend: site.baseurl }}">{{ item.link-title }}</a>
              </li>
            {% endfor %}

          </ul>
        </div>

    </div>
    <div class="row">

      <!-- Footer - Privacy Policy -->
        <div class="privacy-policy col-xs-9 col-sm-11">
          {{ footer.privacy.blurb }}
        </div>

    </div>
  </div>
</footer>

<script id="requirejs" src="{{ site.baseurl }}/js/libs/require.2.1.5.min.js" data-main="{{ site.baseurl }}/js/{{ site.basejs }}"></script>
