{% comment %}
<!--
  "Tools" Grid Feature

  This file constitutes a dynamic grid feature displaying images and blurbs
  grouped by a category.  The grid will display up to 3 items per row and will
  automatically handle overflows of items to subsequent rows.

  In order to include this grid, a page needs to have:
  - grid-section yml value
  - grid-items within each grid section

  An example of this feature is found on the /tests/ page displaying measurement
  tools and is currently included as part of the page.html layout
-->
{% endcomment %}

{% assign img_dir = "" %}

{% if page.url == '/tests/' %}
  {% assign img_dir = "/tests" %}
{% elsif page.url == '/who/' || page.url == '/about/' %}
  {% assign img_dir = "/about" %}
{% elsif page.url == '/about/' %}
  {% assign img_dir = "/about" %}
{% endif %}

{% if page.grid-section %}
  {% for grid in page.grid-section %}
  <div class="container">
    <section class="info-section grid-section first-child {{ grid.group-heading | downcase | replace: " ", "-" }}">
    <div class="row">
      <h2 class="grid-header col-xs-12" id="{{ grid.group-heading | downcase | replace: " ", "-" }}">{{ grid.group-heading }}</h2>
      {% if grid.group-description %}{{ grid.group-description }}{% endif %}
    </div>
    <div class="row">
      <ul class="{{ grid.group-list-class }}">

        {% for item in grid.grid-items %}
        <li{% if grid.group-list-class == "l-grid l-3col" %} class="grid-group col-xs-12 col-sm-6 col-md-4 col-lg-3"{% endif %}>

          {% if item.link %}
          <a href="{% if item.link | slice: 0 = "/" %}{{ item.link | prepend: site.baseurl }}{% else %}{{ item.link }}{% endif %}" class="grid-link is-plain">
          {% endif %}

            {% if grid.group-list-class == "l-grid l-3col" %}
            <div class="grid-img{{ grid.grid-img-class }}"><img src="{{ site.baseurl }}/images{{ img_dir }}/{{ item.image }}" alt="{{ item.heading }}" title="{{ item.heading }}" class=""></div>
            <div class="grid-info">
              <h3 class="grid-heading">{{ item.heading }}</h3>
              <div class="grid-description"><p>{{ item.desc }}</p></div>
            </div>
            {% else %}
            <img src="{{ site.baseurl }}/images{{ img_dir }}/{{ item.image }}" alt="{{ item.heading }}" title="{{ item.heading }}" class="grid-link is-plain">
            {% endif %}

          {% if item.link %}
          </a>
          {% endif %}
        </li>
        {% endfor %}

      </ul>
    </div>
    </section>
  </div>
  {% endfor %}

{% endif %}