{% comment %} 
<!--
  HEAD

  This partial is included on every page to consistently display the same HEAD tag 
  information on each page.  
  
--> 
{% endcomment %}

<head>

  <!-- General metadata -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}" >
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.page-title %}{{ page.page-title }} - {{ site.title }}{% elsif page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Google Verification -->
	<meta name="google-site-verification" content="hKaMGhdpCIKi0NNdYKMU_bA4VnssEVHNJouZSr2-DeM" />
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />

  <!-- Atom RSS Feed -->
  {% feed_meta %}

  <!-- Styles -->
  <link href="{{ site.baseurl }}/css/base.css" rel="stylesheet" />

  {% if page.audience == "observatory" %}
  <!-- Observatory page styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/mlab_observatory/static/js/observatory/vendor/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/mlab_observatory/static/js/observatory/vendor/bootstrap/bootstrap-theme.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/mlab_observatory/static/js/observatory/vendor/bootstrap/bootstrap-select.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/mlab_observatory/static/css/observatory/mlabOpenInternet.css" />
  {% endif %}

  <!-- JS Libs -->
  <script src="{{ site.baseurl }}/js/libs/modernizr-2.6.2.min.js"></script>

</head>
