<head>

  <!-- General metadata -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
  <meta name="keywords" content="measurement, broadband measurement, internet measurement, open data, open science, performance test, speed test, throughput measurement" >
  <meta name="viewport" content="width=1000px">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Google Verification -->
	<meta name="google-site-verification" content="hKaMGhdpCIKi0NNdYKMU_bA4VnssEVHNJouZSr2-DeM" />
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />

  <!-- Styles -->
  <link href="{{ site.baseurl }}/css/base.css" rel="stylesheet">

  <!-- JS Libs -->
  <script src="{{ site.baseurl }}/js/libs/modernizr-2.6.2.min.js"></script>

</head>