<div id="navbar">
  <ul class="nav nav-pills">
    <li class="static-nodrop">
      <a id="observatoryMenu" href="/observatory.html">
        Observatory
      </a>
    </li>
    <li class="static-nodrop">
      <a id="visualizationsMenu" href="/visualizations.html" data-toggle="dropdown" role="button" class="menu-top-level">
        Visualizations
        <b class="caret"></b>
      </a>
      <ul id="visualizationsMenu" class="dropdown-menu" aria-labelledby="visualizationsMenu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-2" href="/visualizations.html">Performance</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-2" href="/visualizations.html#transparency">Transparency</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-2" href="/visualizations.html#state">State</a></li>
      </ul>
    </li>
    <li class="static-nodrop"><a href="/tests.html">Tests</a></li>
    <li class="static-nodrop"><a href="/infrastructure.html" title="">Infrastructure</a></li>
    <li class="static-nodrop"><a href="/contribute.html" title="">Contribute</a></li>
    <li class="static-nodrop"><a href="/blog" title="">Blog</a></li>
    <li class="static-nodrop"><a href="/publications.html" title="">Publications</a></li>
    <li class="dropdown">
      <a id="aboutMenu" href="/about.html" data-toggle="dropdown" role="button" class="menu-top-level">
        About
        <b class="caret"></b>
      </a>
      <ul id="aboutMenu" class="dropdown-menu" aria-labelledby="aboutMenu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-3" href="/about.html" title="About Measurement Lab">About Measurement Lab</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-3" href="/faq.html" title="Frequently Asked Questions">FAQ</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-3" href="/who.html">Who we are</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-3" href="/contact.html" title="Contact us">Contact</a></li>
      </ul>
    </li>
  </ul>
</div>
</div>
