<div class="footer-wrapper">
{% include left-half-open.html %}
{% include blog-recent-posts.html %}
{% include left-half-close.html %}
{% include right-half-open.html %}
<h4>Internet Observatory</h4>
<img src="/images/graphExample.png" title="Observatory visualization image" alt="Observatory visualization image" /><br />
Compare how different ISPs performed across varying locations in the US.<br />
<a href="/observatory">Read more</a>
{% include right-half-close.html %}
</div>
  <script src="/js/jquery-2.1.0.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bjqs/bjqs-1.3.js"></script>
  <script src="/js/commotion-front.js"></script>
  </body> 
</html>
