<div class="player-ctn">
    <iframe src="https://www.youtube.com/embed/RnIVMfBP4So?modestbranding=0&amp;iv_load_policy=3&amp;showinfo=0&amp;wmode=transparent&amp;origin=http%3A%2F%2Fwww.measurementlab.net&amp;rel=0&amp;enablejsapi=1" title="YouTube " allowfullscreen="1" id="video" width="425px" frameborder="0" height="250px"></iframe>
    <a href="http://youtu.be/RnIVMfBP4So" class="player-overlay" target="_blank">
        <span class="btn-play player-control"><i class="icon icon-play icon-middle"></i></span>
    </a>
</div>