// main body layout elements

.intro-section, .blog-entry {
  ul {
  	margin: 0px 0px 25px 15px;
  	padding: 0px 0px 0px 15px;

    @include list_bullets(disc, 0px, 0px, 24px, outside);

  	ul {
 	    margin: 0px;
 	    padding: 0px 0px 0px 15px;

 	    @include list_bullets(circle, 0px, 0px 0px 0px 15px, 24px, outside);
    }
  }
}

#intro-section-observatory {
	ul {
		padding-left: 30px;

    @include list_bullets(inherit, initial, initial, 24px, outside);
  }

  .helpContent ul.buttons {
    padding: 0px;

    li {
      padding: 10px 0;

      &:first-child {
        margin-left: 110px;
        margin-right: 40px;
      }
    }
  }

}