// Specialized publications layout elements

.publications-page {

  h2 {
    font-size: 22px;    
  }
  h3 {
    font-size: 18px;  
  }
  p {
    padding-bottom: 38px;

    &.intro-blurb {
      padding-bottom: 25px;
    }
  }

  .paper-author {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #767676;
    margin: 15px 0 10px;
    padding: 0;
  }

  .download-link {
    font-size: 16px;  
  }
  .paper-download {
    display: block;
    margin-top: 16px;
  }

  .paper-description {
    padding-bottom: 0;
  }

  #presentations {
    padding-top: 38px;
  }
}    

.paper {
  margin-bottom: 13px
}

.paper .paper-title {
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  color: #767676
}



