// Buttons Component

// Sitewide Button Styles
.btn {
  color: #fff;
  background: #e35343;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom:1;*display: inline;
  font-size: 16px;
  font-family: "Proxima Nova Semi Bold",Arial,Helvetica,sans-serif;
  position: relative;
  padding: 15px 30px;
  -webkit-transition: background 300ms ease-in-out;
  -moz-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  cursor: pointer;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-width: $screen-lg-min) {
    padding: 10px 20px;
  }

  .icon-before {
    margin-right: 8px !important;
  }

  .icon-after {
    margin-left: 8px;
  }

  &.is-active,&.btn:hover {
    background: #ff9c91;
  }

  &.btn-submit {
    outline: none;
    border: 0;
    -webkit-appearance: none;
    margin-top: 0;
  }

  &.btn-cta:before {
    content: '';
    background: url('../images/sprites/globalSprite-1x.png') no-repeat -14px -112px;
    width: 6px;
    height: 8px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom:1;*display: inline;
    margin-right: 10px;
    position: relative;
    top: -1px;
  }

}

// Social Media Buttons
.btn-social {
    @include link_accessibility();
    background: #b0b0b0;
    width: 37px;
    height: 37px;
    position: relative;
    -webkit-transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;

  &.is-active,&:hover {
    background: #ff9c91;
  }

  &::after {
    content: '';
    position: absolute;
    background: url('../images/sprites/globalSprite-1x.png') no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  &.google-share::after {
    background-position: -136px -15px;
    width: 14px;
    height: 14px;
  }

  &.email-share::after {
      background-position: -174px -16px;
      width: 20px;
      height: 13px;
  }

  &.rss-share::after {
    background-position: -217px -14px;
    width: 15px;
    height: 16px;
  }

  &.twitter-share::after {
    background-position: -240px -11px;
    width: 20px;
    height: 20px;
  }

}

// Back to Top Button
.btn.btn-to-top {
  font-size: 16px;
  line-height: 24px;
  font-family: "Proxima Nova Semi Bold",Arial,Helvetica,sans-serif;
  width: 90px;
  height: 135px;
  text-align: center;
  padding: 0 10px;
  position: fixed;
  z-index: 11;
  right: 15px;
  bottom: -150px;
  border-radius: 4px 4px 0px 0px;
  -webkit-transition: bottom 300ms ease-in-out,background 300ms ease-in-out;
  -moz-transition: bottom 300ms ease-in-out,background 300ms ease-in-out;
  -o-transition: bottom 300ms ease-in-out,background 300ms ease-in-out;
  transition: bottom 300ms ease-in-out,background 300ms ease-in-out;
  white-space: normal;

  &:hover {
    color: #fff;
  }

  &.is-visible {
    bottom: 0;
  }

  >.icon-top {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
  }

  >span {
    position: relative;
    top: 50px;
  }

}