// Individual iframes component

.ndt-iframe {
  min-height: 520px;
  padding-bottom: 54%;
  margin-bottom: 20px;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  border: 1px solid #CCC;
}