// Different Link Styles

// Main Header Logo
.main-logo {
    display: table-cell;
    vertical-align: middle;

  a {
    @include link_accessibility();
    background: url('../images/sprites/globalSprite-1x.png') no-repeat -7px -7px;
    width: 100px;
    height: 31px;
  }
}


.breadcrumbs .breadcrumb {
    color: #454545;
    background-color: #fff;
    padding: 0px;
}

.pagination {
    margin-left: 0;
    padding: 15px 0 0;
    display: block;

  >li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom:1;*display: inline;
    list-style: none;
    text-indent: 0;

    &:nth-child(odd) {
      float:right;
    }

    a {
      font-family: Arial,Helvetica,sans-serif;
      font-weight: bold;
      display: block;
      padding: 0 5px;
      border: 0;

      &:hover {
        background-color: transparent;
      }

      &.is-active {
        color: #454545;
      }

      &.dir {
        color: #454545;
      }

    }
  
  }

}

//Read More links
.info-link {
    color: #454545;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    display: block;

  &:before {
    content: '';
    background: url('../images/sprites/globalSprite-1x.png') no-repeat -14px -131px;
    width: 6px;
    height: 8px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom:1;*display: inline;
    margin-right: 5px;
    position: relative;
    top: -2px;
  }

  &:hover:before {
    background-position: -14px -150px;
  }
}

//Download links
.download-link {
  color: #454545;
  font-size: 16px;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;

  &:after {
    @include arrow_link();
  }

  &:hover:after {
    background-position: -42px -149px;
  }
}

.runlink:after {
  @include arrow_link();
}

//Siderail links
.filter-col a.is-active {
  color: #454545;
  cursor: default;
}

.filter-col .count {
  color: #454545;
}

.subpage-content a:not(.btn):not(.is-plain),.filter-col a {
    -webkit-transition: color 300ms ease-in;
    -moz-transition: color 300ms ease-in;
    -o-transition: color 300ms ease-in;
    transition: color 300ms ease-in
}

.subpage-content a:not(.is-active):hover:not(.btn):not(.is-plain),.filter-col a:not(.is-active):hover {
    color: #ff9c91
}

.sub-heading-link:hover .icon-triangle,
.pagination>li a.dir:hover .icon-triangle,
.quick-links a:hover .icon-triangle {
    background-position: -42px -149px
}

.sub-heading-link:hover .icon-triangle.icon-smaller,
.pagination>li a.dir:hover .icon-triangle.icon-smaller,
.quick-links a:hover .icon-triangle.icon-smaller {
    background-position: -14px -150px
}

// Other special formatting

.red {
  color: #ff0000;
}