// Quick Links Navigational Component

.quick-links {
  
  &.l-span2 {
    width: 100%;
    padding: 38px 0 0px;

    .l-span1 {
      width: 48%;
    }
  }

  > ul {
  	@include list_bullets(none, 0px, 10px, 20px);
  }

  > ul:last-child {
    float: left;
  }

  a {
    font-family: "Proxima Nova Semi Bold",Arial,Helvetica,sans-serif;
    color: #454545;

    &:hover {
      color: #454545;
    }

    .icon-triangle {
      float: left;
      margin-bottom: 10px;
      top: 3px;
    }
  }

}