---
layout: default
---

<div class="container" id="blog-nav-page">
  <div class="row">

    {% include  blog-nav-breadcrumbs.html %}

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 blogroll">

          {% for post in paginator.posts %}

          <article class="blog-entry" id="{{ post.url | prepend: site.baseurl }}">

            {% if post.content contains '<!--more-->' %}
              {% assign blog_content = post.content | split:'<!--more-->' | first | split:'</h1>' | last %}
            {% else %}
              {% assign blog_content = post.excerpt %}
            {% endif %}
              {% assign word_count = blog_content | number_of_words %}

            {% if word_count > 40 %}
              <h1 id="{{ post.title | downcase }}">
              <a class="anchor-link" href="{{ site.baseurl }}{{ post.url }}#{{ post.title | downcase | replace: ' ', '-' }}" data-icon=""></a>
              {{ post.title }}
              </h1>
              {% include post-meta-index-pages.html %}
              {{ blog_content }}
            {% else %}
              <div>
              <h1 id="{{ post.title | downcase }}">
              <a class="anchor-link" href="{{ site.baseurl }}{{ post.url }}#{{ post.title | downcase | replace: ' ', '-' }}" data-icon=""></a>
              {{ post.title }}
              </h1>
              {% include post-meta-index-pages.html %}
              {{ blog_content }}
              </div>
            {% endif %}

            <p><a href="{{ site.baseurl }}{{ post.url }}" class="read-more-link info-link">Read More</a></p>
          </article> <!-- .blog-entry -->

          {% endfor %}

          {% if paginator.total_pages > 1 %}
          <ol class="pagination">
            {% if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next dir is-plain">Next<i class="icon icon-triangle icon-right icon-after"></i></a></li>
            {% endif %}

            {% if paginator.previous_page %}
              <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous dir is-plain"><i class="icon icon-triangle icon-left icon-before"></i>Previous</a></li>
            {% endif %}

          </ol> <!-- .pagination -->
          {% endif %}

        </div> <!-- .blogroll -->

        {% include siderail.html %}

      </div><!--row-->
    </div><!--container-->

  </div><!--row-->
</div><!--container-->

