---
layout: default
---

{% assign archive = page.archive-name | downcase %}

<div class="container" id="blog-nav-page">
  <div class="row">

    {% include blog-nav-breadcrumbs.html %}

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 blogroll">

        {% for post in site.posts %}

          {% assign show-post = true %}
          {% assign thisyear = post.date | date: "%B %Y" %}
          {% if thisyear != page.archive-name %}
            {% assign show-post = false %}
          {% endif %}
          
          {% if show-post %}
            <article class="blog-entry" id="{{ post.url | prepend: site.baseurl }}">
              <h1 id="{{ post.title | downcase }}">
              <a class="anchor-link" href="{{ site.baseurl }}{{ post.url }}#{{ post.title | downcase | replace: ' ', '-' }}" data-icon=""></a>
              {{ post.title }}
              </h1>
              {% include post-meta-index-pages.html %}
              {% if post.content contains '<!--more-->' %}
                  {{ post.content | split:'<!--more-->' | first }}
              {% else %}
                  {{ post.excerpt }}
              {% endif %}
              <p><a href="{{ site.baseurl }}{{ post.url }}" class="info-link">Read More</a></p>
            </article>

          {% endif %}

        {% endfor %}

        </div>

        {% include siderail.html %}

      </div><!--row-->
    </div><!--container-->

  </div><!--row-->
</div><!--container-->

