---
layout: default
---

<div class="container">
  <div class="row">

    {% include breadcrumbs.html %}

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 blogroll">

          <article class="blog-entry">
            <h1 id="{{ page.title | downcase | replace: ' ', '-' }}">
            <a class="anchor-link" href="{{ site.baseurl }}{{ page.url }}#{{ page.title | downcase | replace: ' ', '-' }}" data-icon=""></a>
              {{ page.title }}
            </h1>
            {% include post-meta.html %}

            {{ content }}

          </article>
          
          <ol class="pagination">
          
            <li>{% if page.next.url %}<a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="next dir is-plain">Next<i class="icon icon-triangle icon-right icon-after"></i></a>{% endif %}</li>
          
            <li>{% if page.previous.url %}<a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="previous dir is-plain"><i class="icon icon-triangle icon-left icon-before"></i>Previous</a>{% endif %}</li>

          </ol> <!-- .pagination -->

        </div> <!-- .blogroll -->

        {% include siderail.html %}


      </div><!--row-->
    </div><!--container-->

  </div><!--row-->
</div><!--container-->
