---
layout: default
---

{% include breadcrumbs.html %}

<div class="l-span2 blogroll">

  <article class="blog-entry">

    {{ content }}

    <footer class="meta">
      <small>Posted by <b class="author">{{ page.author }}</b> on <span class="published">{{ page.date | date: "%Y-%m-%d" }}</span> filed under 
        <span class="categories">
	      
        {% for cat in page.categories %}
          <a href="{{ site.baseurl }}/blog/category/{{ cat | replace: ' ', '-' }}/">{{ cat }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}                            
				
        </span>
      </small>
    </footer>

  </article>


  <ol class="pagination">
  
    <li>{% if page.next.url %}<a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="next dir is-plain">Next<i class="icon icon-triangle icon-right icon-after"></i></a>{% endif %}</li>
  
    <li>{% if page.previous.url %}<a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="previous dir is-plain"><i class="icon icon-triangle icon-left icon-before"></i>Previous</a>{% endif %}</li>

  </ol> <!-- .pagination -->

</div> <!-- .blogroll -->

{% include siderail.html %}

