---
layout: default
---

{% assign archive = page.archive-name | downcase %}

{% if page.archive-type == 'Category' %}
  {% assign posts = site.categories.[archive] %}
{% elsif page.archive-type == 'Monthly' %}
  {% assign posts = site.posts %}
{% endif %}

<div class="container" id="blog-nav-page">
  <div class="row">

    {% include breadcrumbs.html %}

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 blogroll">

        {% for post in posts %}

          {% assign show-post = true %}

          {% if page.archive-type == 'Monthly' %}
            {% assign thisyear = post.date | date: "%B %Y" %}
            {% if thisyear != page.archive-name %}
              {% assign show-post = false %}
            {% endif %}
          {% endif %}

          {% if show-post %}

            <article class="blog-entry" id="{{ post.url | prepend: site.baseurl }}">
              {% if post.content contains '<!--more-->' %}
                  {{ post.content | split:'<!--more-->' | first }}
              {% else %}
                  {{ post.excerpt }}
              {% endif %}
              <p><a href="{{ site.baseurl }}{{ post.url }}" class="info-link">Read More</a></p>
            </article>

          {% endif %}

        {% endfor %}

        </div>

        {% include siderail.html %}

      </div><!--row-->
    </div><!--container-->

  </div><!--row-->
</div><!--container-->

