{% include header-front.html %}
{{ content }}
{% include mlab-belowfold-bar.html %}
{% include content-area-open.html %}
{% include left-half-open.html %}
{% include mlab-intro-video.html %}
{% include left-half-close.html %}
{% include right-half-open.html %}
{% include mlab-mission.html %}
{% include right-half-close.html %}
{% include content-area-close.html %}
{% include mlab-highlights-topbar.html %}
{% include mlab-highlights-front.html %}
{% include content-area-open.html %}
{% include left-third-open.html %}
{% include mlab-footer-subscribe.html %}
{% include left-third-close.html %}
{% include right-twothird-open.html %}
{% include mlab-footer-menu.html %}
{% include right-twothird-close.html %}
{% include content-area-close.html %}
{% include content-area-open.html %}
{% include mlab-footer-privacy-license.html %}
{% include content-area-close.html %}