---
layout: default
---


<meta data-id="enhancer" data-classname="HomePageEnhancer">
<div class="tagline-section">
  <div class="info-segment-inner container">
    <div class="row">
      <div class="tagline-description">
        <h1>{{ page.tagline-heading }}</h1>
        <h2>{{ page.tagline }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="about-section"><!--info-segment-->
  <div class="info-segment-inner container">
    <div class="row">
      <section class="what-is-col col-sm-11 col-md-7 col-lg-7">
      </section>
      <aside class="blog-col col-xs-12 col-sm-12 col-md-7 col-lg-7">

      {% for post in site.posts limit:3 %}

        <article class="blog-post">
          <div class="segment-description">

          {% if post.content contains '<!--more-->' %}
              {% assign blog_content = post.content | split:'<!--more-->' | first | split:'</h1>' | last | strip_html %}
          {% else %}
              {% assign blog_content = post.excerpt %}
          {% endif %}
          {% assign word_count = blog_content | number_of_words %}

          {% if word_count > 40 %}
            <h2 id="{{ post.title | downcase }}">
            <a class="anchor-link" href="{{ site.baseurl }}{{ post.url }}#{{ post.title | downcase | replace: ' ', '-' }}" data-icon=""></a>
            <a href="{{ site.baseurl }}{{ post.url }}#{{ post.title | downcase | replace: ' ', '-' }}">{{ post.title }}</a>
            </h2>
            {% include post-meta-index-pages.html %}
            {{ blog_content }}
          {% else %}
            <div>
            <h2 id="{{ post.title | downcase }}">
            <a class="anchor-link" href="{{ site.baseurl }}{{ post.url }}#{{ post.title | downcase | replace: ' ', '-' }}" data-icon=""></a>
            <a href="{{ site.baseurl }}{{ post.url }}#{{ post.title | downcase | replace: ' ', '-' }}">{{ post.title }}</a>
            </h2>
            {% include post-meta-index-pages.html %}
            {{ blog_content }}
            </div>
          {% endif %}

          </div>
          <p><a href="{{ site.baseurl }}{{ post.url }}" class="read-more-link info-link">Read More</a></p>
        </article>

      {% endfor %}

      </aside>

      <aside class="mission-col col-sm-12 col-md-5 col-lg-5">
        <div style="display:block; width: 20%; height: 100px; float:left;">
          <a href="https://speed.measurementlab.net" target="_blank">
            <img src="images/{{ page.mission-image }}" alt="{{ page.mission-image-alt }}" title="{{ page.mission-image-alt }}" style="float:left; text-align: center;" />
          </a>
        </div>
        <div style="display:block; width: 80%; height: 100px; float:left;">
          <h3 style="margin-top:1.5em;"><a href="https://speed.measurementlab.net" target="_blank">Run an NDT Test</a></h3>
        </div>
        <div style="width: 100%;">
          <p>{{ content }}</p>
        </div>

      </aside>
    </div>
  </div>
</div>

