---
layout: default
---


<meta data-id="enhancer" data-classname="HomePageEnhancer">
<meta data-video-id="{{ page.videoid }}">

<div class="about-section info-segment">
  <div class="info-segment-inner container">
    <div class="row">
      <section class="what-is-col col-sm-11 col-md-7 col-lg-7">
          <h2 class="info-heading initial-heading">{{ page.info-heading }}</h2>
          <article class="video-entry">
              <h3 class="info-subheading">{{ page.info-subheading }}</h3>
              <div class="video-placeholder">
                <div class="player-ctn">
                  <div id="video"></div>
                  <a href="http://youtu.be/{{ page.videoid }}" class="player-overlay" target="_blank">
                    <span class="btn-play player-control"><i class="icon icon-play icon-middle"></i></span>
                  </a>
                </div>
              </div>
          </article>
      </section>

      <aside class="mission-col col-sm-12 col-md-5 col-lg-5">
        <div>
          <h2 class="info-heading">{{ page.mission-heading }}</h2>
          <article class="mission-entry">
            <h3 class="info-subheading">{{ page.mission-subheading }}</h3>
            <div class="segment-description">
              {{ content }}
            </div>
          </article>
        </div>
      </aside>
    </div>
  </div>
</div>

<div class="communication-section info-segment is-inverse">
  <div class="info-segment-inner container">
    <div class="row">
      <section class="col-xs-12 col-sm-12">
        <h2 class="info-heading initial-heading">Latest Blog Post</h2>

      {% for post in site.posts limit:1 %}

        <article class="blog-post">
          <h3 class="info-subheading">{{ post.title }}</h3>
          <div class="segment-description">

          {% if post.content contains '<!--more-->' %}
              {% assign blog_content = post.content | split:'<!--more-->' | first | split:'</h1>' | last | strip_html %}
          {% else %}
              {% assign blog_content = post.excerpt %}
          {% endif %}
          {% assign word_count = blog_content | number_of_words %}

          {% if word_count > 40 %}
            <p>{{ blog_content }}</p>
          {% else %}
            <div>{{ blog_content }}</div>
          {% endif %}

          </div>
          <p><a href="{{ site.baseurl }}{{ post.url }}" class="read-more-link info-link">Read More</a></p>
        </article>

      {% endfor %}

      </section>

    </div>
  </div>
</div>