
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>{{ page.title }}</title>
	<style>
		#ndt-iframe {
			width: 720px;
			height: 480px;
			border: none;
		}
	</style>
</head>
<body>
<script>
var	mlabNsUrl = 'https://mlab-ns.appspot.com/ndt?format=json';
var xhr = new XMLHttpRequest();
xhr.onreadystatechange = function () {
  if (xhr.readyState === 4) {
    if (xhr.status === 200) {
      var response = JSON.parse(xhr.responseText);
      var ndtIframe = document.createElement('iframe');
      ndtIframe.src = response.url;
      ndtIframe.setAttribute('id', 'ndt-iframe');
      document.body.appendChild(ndtIframe);
    }
  }
};
xhr.open("GET", mlabNsUrl, true);
xhr.send();
</script>
</body>
</html>
