---
layout: default
---

<div class="subpage-content full-width observatory-page">
	<section id="intro-section-observatory">
		<h1 class="section-heading">{{ page.heading }}</h1>

		<div class="wrapper">
			<div class="vizContent">
				<div id="controls"></div>
				<div id="exploreViz"></div>
				<div id="timeControl"></div>
				<div id="compareViz"></div>
				<div id="loading"></div>
				<div id="help"></div>
				<div id="helpModal">
					<div class="helpContent"></div>
				</div>
			</div>


			<div class="aboutModal">
				<div class="aboutContent"></div>
			</div>
		</div>
		 
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/vendor/jquery.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/vendor/d3.v3.min.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/vendor/lodash.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/vendor/moment.min.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/vendor/EventEmitter.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/vendor/bootstrap/bootstrap.min.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/vendor/bootstrap/bootstrap-select.min.js"></script>

		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/js/utils.js"></script>
		<script src="{{ site.baseurl }}/js/observatory/paths.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/js/dataLoader.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/js/controls.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/js/timeControl.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/js/help.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/js/exploreViz.js"></script>
		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/js/compareViz.js"></script>

		<script src="{{ site.baseurl }}/mlab_observatory/static/js/observatory/js/mlabOpenInternet.js"></script>
	</section>
	<section class="info-section"></section>
</div>
<div style="clear:both"></div>
<div style="clear:both"></div>
<div style="clear:both"></div>
<div style="clear:both"></div>
<div style="clear:both"></div>