// File contains styles for base HTML Elements

//import mixins
@import 'helpers/_mixins';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    height: 100%;
    background: #fff;
    color: #000
}

ul {
  @include list_bullets();
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px 0px 30px 0px;
}

caption,th,td {
  font-weight: normal;
  vertical-align: middle;
  word-wrap: break-word;
  max-width: 460px;
  min-width: 75px;
}

tr {
  color: #767676;
}

th {
  border: 1px solid black; 
  padding: 5px; 
  font-weight: bold; 
}

td {
  border: 1px solid black; 
  padding: 5px; 
}

a {
  text-decoration: none;
  color: #e35343;
  overflow-wrap: break-word;
  word-wrap: break-word;

  &:hover {
    text-decoration: none;
  }

}

hr {
  margin: 10px 0px;
  border: 1px solid #b7b7b7;
}

video {
    max-width: 100%;
    height: auto;
}