// File contains styles for base HTML Elements

//import mixins
@import 'helpers/_mixins';

ul {
	 @include list_bullets();
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th,td {
    font-weight: normal;
    vertical-align: middle;
}

tr {
    color: #767676;
}

th {
    border: 1px solid black; 
    padding: 5px; 
    font-weight: bold; 
    min-width: 200px;
}

td {
    border: 1px solid black; 
    padding: 5px; 
}